<div class="header">
    <div class="header__left-text margin-container">
        <div class="header__left-text__title">NOVA ADMISSÃO COOPERADO</div>
        <div class="header__left-text__breadcrumb">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado </div>
    </div>

    <div class="header__profile-area">
        <div class="header__profile-area__notification">
            <button type="button" class="btn">
                <i class="far fa-bell fa-lg"></i>
                <small>7</small>
            </button>
        </div>
        <div class="header__profile-area__select-profile">
            <button type="button" class="btn">
                VIACREDI
            </button>
        </div>
        <div class="header__profile-area__avatar">
            <button type="button" class="btn">
                <img src="/assets/user.jpg" alt="User" class="avatar">
                <small>
                    <i class="fas fa-cog"></i>
                </small>
            </button>
        </div>
    </div>
</div>
