<div class="menu">
    <div class="menu__logo"></div>
    <div class="menu__button-menu">
        <a class="btn btn-link active">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    <div class="menu__search">
        <a class="btn btn-link">
            <i class="fas fa-search"></i>
        </a>
    </div>
    <div class="menu__star">
        <a class="btn btn-link">
            <i class="far fa-star"></i>
        </a>
    </div>
    <div class="menu__chat">
        <a class="btn btn-link">
            <i class="far fa-comment-dots"></i>
        </a>
    </div>
    <div class="menu__options">
        <a class="btn btn-link">
            <i class="fas fa-sliders-h"></i>
        </a>
    </div>
    <div class="menu__finance">
        <a class="btn btn-link">
            <i class="fas fa-university"></i>
        </a>
    </div>
</div>